p.caption {
 color: #777;
 margin-top: 10px;
}
p code {
 white-space: inherit;
}
pre {
 word-break: normal;
 word-wrap: normal;
}
pre code {
 white-space: inherit;
}
h1 {
 background-color: #41AD49;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
h1.chap1 {
 background-color: #1b9e77;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
 h1.chap2 {
 background-color: #d95f02;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
 h1.chap3 {
 background-color: #7570b3;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
 h1.chap4 {
 background-color: #e7298a;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
 h1.chap5 {
 background-color: #66a61e;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
  h1.chap6 {
 background-color: #e6ab02;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
  h1.chap7 {
 background-color: #a6761d;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
/* chapter heading color scheme 7-class Dark2 */
/* display.brewer.pal(n = 8, name = 'Dark2') */
/* 1 #1b9e77 */
/* 2 #d95f02 */
/* 3 #7570b3 */
/* 4 #e7298a */
/* 5 #66a61e */
/* 6 #e6ab02 */
/* 7 #a6761d */

.chap0 {
 background-color: #41AD49;
}
.chap1 {
 background-color: #1b9e77;
}
.chap2 {
 background-color: #d95f02;
}
.chap3 {
 background-color: #7570b3;
}
.chap4 {
 background-color: #e7298a;
}
.chap5 {
 background-color: #66a61e;
}
.chap6 {
 background-color: #e6ab02;
}
.chap7 {
 background-color: #a6761d;
}

h2 {
 color: #000000;
 font-size: 14pt;
 font-weight: bold;
 text-align: left;
 }
h3 {
 color: #000000;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }
.col2 {
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
    columns: 2 200px;         /* number of columns and width in pixels*/
  }
.col3 {
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
    columns: 3 100px;
  }


.preamble1 {
 border-radius: 25px;
 border: 2px solid #EEEEEE; /* Whisper */
 padding: 20px;
 background: #EEEEEE 5px center/3em no-repeat;
 color: #4D4D4D; /* Gray30 */
}
.preamble2 {
 border-radius: 25px;
 border: 2px solid #F0F7D4; /* beige */
 padding: 20px;
 background: #F0F7D4 5px center/3em no-repeat;
}
.preamble3 {
 border-radius: 25px;
 border: 2px solid #347B98; /* teal blue */
 padding: 20px;
 background: #347B98 5px center/3em no-repeat;
}

.preamble4 {
 border-radius: 25px;
 border: 2px solid #B2D732; /* android green */
 padding: 20px;
}
.preamble5 {
 border-radius: 25px;
 border: 2px solid #66B032; /* green */
 padding: 20px;
}
.preamble6 {
 border-radius: 25px;
 border: 2px solid #347B98; /* teal blue */
 padding: 20px;
}
.preamble7 {
 border-radius: 25px;
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
}

.box1 {
 border-radius: 25px;
 border: 2px solid #B2D732; /* android green */
 padding: 20px;
}
.box2 {
 border-radius: 25px;
 border: 2px solid #FE2712; /* tomato */
 padding: 20px;
}
.box3 {
 border-radius: 25px;
 border: 2px solid #347B98; /* dark moderate blue */
 padding: 20px;
}
.box4 {
 border-radius: 25px;
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
}
.callout1 {
 border: 2px solid #66B032; /* green */
 padding: 20px;
 background: #66B032 5px center/3em no-repeat;
 color: #FFFFFF; /* white text */
}
.callout2 {
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
 background: #092834 5px center/3em no-repeat;
 color: #FFFFFF; /* white text */
}
