p.caption {
 color: #777;
 margin-top: 10px;
}
p code {
 white-space: inherit;
}
pre {
 word-break: normal;
 word-wrap: normal;
}
pre code {
 white-space: inherit;
}
h1 {
 background-color: #41AD49;
 color: #FFFFFF;
 font-size: 20pt;
 font-weight: bolder;
 line-height: 1.2;
 padding: 10px;
 text-align: left;
 }
h2 {
 color: #000000;
 font-size: 14pt;
 font-weight: bold;
 text-align: left;
 }
h3 {
 color: #000000;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

/* custom blocks using compound color scheme */
/* #F0F7D4 beige */
/* #B2D732 android green */
/* #FE2712 tomato */
/* #347B98 dark moderate blue */
/* #092834 very dark blue*/
/* https: //www.w3schools.com/colors/colors_compound.asp */


.preamble1 {
 border-radius: 25px;
 border: 2px solid #EEEEEE; /* Whisper */
 padding: 20px;
 background: #EEEEEE 5px center/3em no-repeat;
 color: #4D4D4D; /* Gray30 */
}
.preamble2 {
 border-radius: 25px;
 border: 2px solid #F0F7D4; /* beige */
 padding: 20px;
 background: #F0F7D4 5px center/3em no-repeat;
}
.preamble3 {
 border-radius: 25px;
 border: 2px solid #347B98; /* teal blue */
 padding: 20px;
 background: #347B98 5px center/3em no-repeat;
}

.preamble4 {
 border-radius: 25px;
 border: 2px solid #B2D732; /* android green */
 padding: 20px;
}
.preamble5 {
 border-radius: 25px;
 border: 2px solid #66B032; /* green */
 padding: 20px;
}
.preamble6 {
 border-radius: 25px;
 border: 2px solid #347B98; /* teal blue */
 padding: 20px;
}
.preamble7 {
 border-radius: 25px;
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
}

.box1 {
 border-radius: 25px;
 border: 2px solid #B2D732; /* android green */
 padding: 20px;
}
.box2 {
 border-radius: 25px;
 border: 2px solid #FE2712; /* tomato */
 padding: 20px;
}
.box3 {
 border-radius: 25px;
 border: 2px solid #347B98; /* dark moderate blue */
 padding: 20px;
}
.box4 {
 border-radius: 25px;
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
}
.callout1 {
 border: 2px solid #66B032; /* green */
 padding: 20px;
 background: #66B032 5px center/3em no-repeat;
 color: #FFFFFF; /* white text */
}
.callout2 {
 border: 2px solid #092834; /* very dark blue */
 padding: 20px;
 background: #092834 5px center/3em no-repeat;
 color: #FFFFFF; /* white text */
}